<a href="https://colab.research.google.com/github/SairamTadepalli19/Day1_ML/blob/main/Day1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **Numpy**

In [1]:
# Is for mathematical operations

import numpy as np

a = [1,2,3,4,5]

arr1 = np.array(a)

b = [[1,2,3,4], [5,6,7,8]]

arr2 = np.array(b)

print(arr1)
print(arr2)

[1 2 3 4 5]
[[1 2 3 4]
 [5 6 7 8]]

In [2]:
print(type(a),
type(arr1),
type(b),
type(arr2),)

<class 'list'> <class 'numpy.ndarray'> <class 'list'> <class 'numpy.ndarray'>

In [4]:
import sys

s = range(1000)

print("Size of each elements in the list in bytes", sys.getsizeof(s))

print("Complete list size in bytes", sys.getsizeof(s) * len(s))

Size of each elements in the list in bytes 48
Complete list size in bytes 48000

In [6]:
#We are checking comparison between numpy size and nomral size of "sys" package

import numpy as np

s = np.arange(1000)

print("Size of each elements in the list by bytes", s.itemsize)

print("Complete list size in bytes", s.size * s.itemsize)

Size of each elements in the list by bytes 8
Complete list size in bytes 8000

In [7]:
#Import time library and make execution time taking by the system

import time

a = range(1000) # [0 ... 999]
b = range(1000) # [0 ... 999]

start = time.time()

ab = [(a * b) for a,b in zip(a,b)] #List Comprehension

# Creating a concised form of complete list and for loop or any other conditional statements

end = time.time()

print("Total time taken", end - start)

Total time taken 0.00019979476928710938

In [8]:
import numpy
import time
arr1 = np.arange(1000)
arr2 = np.arange(1000)

start = time.time()

arr_mul = arr1 * arr2

end = time.time()

print("Total time taken", end - start)

Total time taken 0.0007355213165283203

In [9]:
lst1 = [1,2,3,4]

arr = np.array(lst1)

print(arr)

[1 2 3 4]

In [10]:
print(lst1 + 1)

TypeError: ignored

In [11]:
print(arr + 1)

[2 3 4 5]